<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm a Python enthusiast, deeply intrigued by the fascinating libraries it provides. Transforming data into interesting visuals and narratives, 
          and bringing 'What if...?' scenarios to life through code, are among my passions.</p>
      </div>
      <div class="col-lg-4">
        <p>I love learning new technologies and tools, from web apps to NLP algorithms. Driven to understand the 'how' and 'why' behind surface of the projects,
          I always seek deeper insights. For more facts about me check my CV below.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="/downloads/Ivana_Katic_CV.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
